

### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi **wget** untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [2]:
! wget https://dataset-ppm.s3.amazonaws.com/iris_missing.csv

--2021-03-13 06:13:17--  https://dataset-ppm.s3.amazonaws.com/iris_missing.csv
Resolving dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)... 52.216.27.28
Connecting to dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)|52.216.27.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3843 (3.8K) [text/csv]
Saving to: ‘iris_missing.csv’

iris_missing.csv    100%[===================>]   3.75K  --.-KB/s    in 0s

2021-03-13 06:13:17 (254 MB/s) - ‘iris_missing.csv’ saved [3843/3843]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi [readcsv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) dari library pandas. Lakukan pembacaan berkas csv menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [17]:
import pandas as pd
import numpy as np
data = pd.read_csv('iris_missing.csv')

Tampilkan beberapa baris dari dataset untuk mendapatkan informasi singkat mengenai isi data. Gunakan fungsi **head()** untuk menampilkan 5 data pertama.

In [18]:
data.head() #Menampilkan 5 data pertama
#data.tail() #Menampilkan 5 data terakhir
#data.select(5) #Menampilkan 5 data random

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           0.0          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Berdasarkan informasi dari fungsi **head()**, data iris yang 
digunakan mempunyai 4 fitur sebagai berikut :


1.   sepal length
2.   sepal width
3.   petal length
4.   petal width

### 2) Missing value dan imputasi data




Jika Anda perhatikan dengan seksama, data pada baris ke-3 (index 2) pada fitur sepal length memiliki nilai 0.0. Hal ini menandakan adanya missing value pada data. Jalankan cell di bawah ini untuk mendapatkan semua data yang mengandung missing value. Pencarian data yang mengandung missing value dilakukan dengan tahapan sebagai berikut:


1.   Membuat filter untuk mencari data dengan sepal_length = 0, sepal_width = 0, petal_length = 0, petal_width =0
2.   Mencari data yang memenuhi kondisi1 **atau** kondisi2 **atau** kondisi3 **atau** kondisi4 menggunakan property [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pada dataframe

In [19]:
condition1 = data['sepal_length'] == 0.0  #Jika panjang sepal 0.0
condition2 = data['sepal_width'] == 0.0   #Jika lebar sepal 0.0
condition3 = data['petal_length'] == 0.0  #Jika lebar panjang 0.0
condition4 = data['petal_width'] == 0.0   #Jika lebar petal 0.0

data.loc[condition1 | condition2 | condition3 | condition4] #Mencari data yang memenuhi condition yang di tetapkan

     sepal_length  sepal_width  petal_length  petal_width     species
2             0.0          3.2           1.3          0.2      setosa
11            0.0          3.4           1.6          0.2      setosa
32            5.2          0.0           1.5          0.1      setosa
47            4.6          3.2           0.0          0.2      setosa
51            6.4          0.0           4.5          1.5  versicolor
65            6.7          3.1           4.4          0.0  versicolor
67            5.8          2.7           0.0          1.0  versicolor
86            6.7          0.0           4.7          1.5  versicolor
107           0.0          2.9           6.3          1.8   virginica
112           6.8          3.0           0.0          2.1   virginica
113           5.7          2.5           5.0          0.0   virginica
139           6.9          3.1           5.4          0.0   virginica
145           6.7          3.0           5.2          0.0   virginica

Penanganan missing value pada Pandas akan lebih mudah apabila data yang hilang (bernilai 0.0) diganti dengan NaN (Not A Number). Gunakan properti **replace** pada dataframe untuk menggganti 0.0 menjadi NaN

In [20]:
data = data.replace(0.0,np.NaN) 
# .replace() digunakan untuk mengganti data, dalam kasus ini
# data yang ingin diganti bernilai 0.0, diganti dengan Nan (Not A Number)

Terdapat beberapa cara untuk mengatasi permasalahan missing value pada data. Salah satu cara yang sederhana adalah dengan mengganti nilai NaN pada suatu fitur dengan rata-rata nilai fitur tersebut pada data lain yang bernilai bukan Nan. Perhatikan bahwa Anda harus mengganti nilai NaN dengan rata-rata data lain yang memiliki kategori (species) yang sama.

Fungsi-fungsi pada Pandas yang dapat Anda manfaatkan:


1.   **transform** untuk mengaplikasikan fungsi tertentu pada dataframe, pada permasalahan ini fungsi yang digunakan adalah fungsi **mean**
2.   **groupby** untuk mengelompokkan dataframe berdasarkan nilai kolom tertentu, pada permasalahan ini kolom yang digunakan adalah **species**
3. **fillna** untuk mengganti nilai NaN dengan nilai yang telah ditentukan




Buatlah fungsi bernama **imputasi** yang melakukan tahapan berikut:


1.   Menghitung rata-rata masing-masing kolom berdasarkan kelasnya
2.   Mengisi kolom yang berisi NaN dengan rata-rata kelas yang sesuai

In [21]:
def imputasi(df_input):
  list_columns = df_input.columns   #Mengambil daftar kolong yang ada dalam data frame
  class_column = list_columns[-1]   #Kolom terakhir merupakan kolom kelas
  for column in list_columns[:-1] :
    df_input[column] = df_input[column].fillna(df_input.groupby(class_column)[column].transform('mean'))
    #Nilai NaN agar digantikan per kolom
  return df_input

Buatlah sebuah dataframe baru bernama **data_imputasi** yang berisi dataset dengan nilai NaN yang sudah diganti dengan cara memanggil fungsi **imputasi**.

In [22]:
data_imputasi = imputasi(data)

Cek apakah masih terdapat nilai NaN pada dataframe.

In [23]:
data_imputasi.isnull().values.any()

False

### 3) Normalisasi MinMax
Normalisasi bertujuan menyamakan rentang nilai pada setiap fitur. Beberapa metode pembelajaran mesin memiliki kinerja yang buruk apabila rentang nilai tiap variabel berbeda jauh.

Sebelum melakukan normalisasi, cek terlebih dahulu rentang (nilai max - nilai min) pada masing masing fitur

In [10]:
def cetak_rentang(df_input):
  list_fitur=df_input.columns[:-1] #Digunakan untuk mengambil nama kolom, Kecuali yang terakhir
  for fitur in list_fitur:
    max=df_input[fitur].max()
    min=df_input[fitur].min()
    print("Rentar fitur ", fitur, "Adalah ", max-min)

In [11]:
cetak_rentang(data_imputasi)

Rentar fitur  sepal_length Adalah  3.6000000000000005
Rentar fitur  sepal_width Adalah  2.4000000000000004
Rentar fitur  petal_length Adalah  5.9
Rentar fitur  petal_width Adalah  2.4

Terlihat bahwa masing-masing fitur memiliki rentang yang berbeda, meskipun tidak terlalu signifikan. Pada praktikum ini Anda akan mengimplementasikan normalisasi MinMax untuk menyamakan rentang setiap fitur menjadi satu (1). Persamaan dari fungsi normalisasi MinMax adalah sebagai berikut:

$x'=\frac{x-min(x)}{max(x)-min(x)}$

dimana $x'$ merupakan nilai ternormalisasi, $x$ adalah nilai asal, $min(x)$ merupakan nilai minimum pada suatu fitur, dan $max(x)$ merupakan nilai maksimum pada suatu fitur.

Implementasikan metode normalisasi MinMax pada fungsi bernama **minmax**.

In [12]:
def minmax(df_input):
  list_fitur=df_input.columns[:-1] #Digunakan untuk mengambil nama kolom, Kecuali yang terakhir
  for fitur in list_fitur:
    max=df_input[fitur].max()
    min=df_input[fitur].min()
    df_input[fitur]=(df_input[fitur]-min)/(max-min)
  return df_input

Buatlah sebuah dataframe baru bernama **data_normal** yang berisi hasil dari metode minmax dengan input **data_imputasi**

In [13]:
data_normal=minmax(data_imputasi)

Cek 5 baris pertama **data_normal**

In [14]:
data_normal.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      0.222222     0.625000      0.067797     0.041667  setosa
1      0.166667     0.416667      0.067797     0.041667  setosa
2      0.199074     0.500000      0.050847     0.041667  setosa
3      0.083333     0.458333      0.084746     0.041667  setosa
4      0.194444     0.666667      0.067797     0.041667  setosa

Tampilkan rentang masing-masing fitur menggunakan fungsi **cetak_rentang** yang telah dibuat

In [15]:
cetak_rentang(data_normal)

Rentar fitur  sepal_length Adalah  1.0
Rentar fitur  sepal_width Adalah  1.0
Rentar fitur  petal_length Adalah  1.0
Rentar fitur  petal_width Adalah  1.0

## TUGAS
1. Implementasikan metode normalisasi Z-score dengan cara membuat fungsi bernama **zscore**.
2. Normalisasikan dataframe **data_imputasi** menggunakan fungsi **zscore**. Simpan hasilnya pada dataframe bernama **data_zscore**.
3. Jelaskan perbedaan hasil normalisasi **MinMax** dan **ZScore**. Petunjuk : cek nilai rentang, rata-rata dan standar deviasi dari **data_zscore**.

In [24]:
def zscore(df_input):
  #tuliskan jawaban nomor 1 di sini
  #Rumus :
  #Z = (x - mean ) / StandarDeviasi
  list_fitur=df_input.columns[:-1] #Digunakan untuk mengambil nama kolom, Kecuali yang terakhir
  for fitur in list_fitur:
    Mean=df_input[fitur].mean()
    STD=df_input[fitur].std()
    df_input[fitur]=(df_input[fitur]-Mean)/STD
  return df_input

In [25]:
data_zscore = zscore(data_imputasi)

In [26]:
data_zscore.head()

   sepal_length  sepal_width  petal_length  petal_width species
0     -0.907825     1.067415     -1.337827    -1.310036  setosa
1     -1.152507    -0.103209     -1.337827    -1.310036  setosa
2     -1.009776     0.365041     -1.394502    -1.310036  setosa
3     -1.519530     0.130916     -1.281153    -1.310036  setosa
4     -1.030166     1.301539     -1.337827    -1.310036  setosa

Tuliskan jawaban pertanyaan nomor 3 **di sini**

In [27]:
#DATA Z SCORE
print("Data Z - SCORE\n")
#Melihat nilai Std
print("Nilai Standar Deviasi\n")
print(data_zscore.std())
print()
#Melihat nilai Rata2
print("Nilai Rata - rata\n")
print(data_zscore.mean())
print()
#Melihat nilai rentang data
print("Rentang data ZScore")
cetak_rentang(data_zscore)
print()

Data Z - SCORE

Nilai Standar Deviasi

sepal_length    1.0
sepal_width     1.0
petal_length    1.0
petal_width     1.0
dtype: float64

Nilai Rata - rata

sepal_length   -2.854383e-15
sepal_width    -1.943723e-15
petal_length   -1.515084e-15
petal_width    -7.490305e-16
dtype: float64

Rentang data ZScore
Rentar fitur  sepal_length Adalah  4.404274071759238
Rentar fitur  sepal_width Adalah  5.618992178331548
Rentar fitur  petal_length Adalah  3.3437971620673492
Rentar fitur  petal_width Adalah  3.1570957553844208

In [16]:
#DATA MinMax
print("Data MinMax\n")
#Melihat nilai Std
print("Nilai Standar Deviasi\n")
print(data_normal.std())
print()
#Melihat nilai Rata2
print("Nilai Rata - rata\n")
print(data_normal.mean())
print()
#Melihat nilai rentang data
print("Rentang data Minmax")
cetak_rentang(data_normal)
print()

Data MinMax

Nilai Standar Deviasi

sepal_length    0.227052
sepal_width     0.177968
petal_length    0.299061
petal_width     0.316747
dtype: float64

Nilai Rata - rata

sepal_length    0.428346
sepal_width     0.435034
petal_length    0.467889
petal_width     0.456616
dtype: float64

Rentang data Minmax
Rentar fitur  sepal_length Adalah  1.0
Rentar fitur  sepal_width Adalah  1.0
Rentar fitur  petal_length Adalah  1.0
Rentar fitur  petal_width Adalah  1.0

**Penjelasan Perbedaan Data**

Dapat dilihat disini normalisasi menggunakan MinMax dan ZScore memiliki perbedaan hasil data, 

1. Rentang data untuk MinMax selalu 1.0 sedangkan untuk Zscore beragam
2. Nilai Standar Deviasi untuk Zscore selalu 1.0 sedangkan untuk MinMax beragam
3. Nilai Rata - rata untuk Zscore dapat berupa minus dan mendekati nilai 0, sedangkan untuk MinMax biasanya bernilai tidak jauh dari 0.5 ~ (Berada antara 0 sampai 1)
4. Perbedaan yang paling mencolok ialah dimana Pada MinMax yang bernilai 1.0 adalah Rentang datanya, Namun Pada ZScore adalah Standar Deviasinya

Normalisasi MinMax : Memastikan agar setiap fitur memiliki rentang data yang sama, namun tidak mengatasi outliers (Data pencilan) dengan baik.

Normalisasi ZScore : Untuk ZScore justru lebih mengatasi outliers dengan baik, namun tidak menghasilkan rentang data yang sama.