### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi wget untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [1]:
!wget https://dataset-ppm.s3.amazonaws.com/iris.csv

--2021-04-19 02:47:28--  https://dataset-ppm.s3.amazonaws.com/iris.csv
Resolving dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)... 52.217.100.204
Connecting to dataset-ppm.s3.amazonaws.com (dataset-ppm.s3.amazonaws.com)|52.217.100.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4609 (4.5K) [text/csv]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   4.50K  --.-KB/s    in 0s

2021-04-19 02:47:28 (142 MB/s) - ‘iris.csv’ saved [4609/4609]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi **readcsv** dari library pandas. Lakukan pembacaan berkas csv ke dalam dataframe dengan nama **data** menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [2]:
import pandas as pd 
import numpy as np 
data = pd.read_csv('iris.csv')



Cek isi dataset Anda dengan menggunakan perintah **head()**

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Metode Support Vector Machine (SVM) dasar hanya mampu melakukan klasifikasi data yang terdiri dari dua kelas, atau disebut klasifikasi biner. Dataset iris memiliki 3 kelas, sehingga salah satu kelasnya, yaitu Iris-virginica perlu dihapus. Cell berikut menghapus data yang memiliki kelas Iris-virginica

In [4]:
data.drop(data[data['species']=='Iris-virginica'].index,inplace=True)

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

SVM juga memiliki keterbatasan, yaitu hanya mampu menerima kelas dalam bentuk numerik. Cell berikut mengubah kelas menjadi bilangan, Iris setosa menjadi -1 dan Iris-versicolor menjadi 1

In [6]:
data['species']=data['species'].map({'Iris-setosa':-1,'Iris-versicolor':1})

Tampilkan beberapa data untuk mengecek hasilnya

In [7]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2       -1
1           4.9          3.0           1.4          0.2       -1
2           4.7          3.2           1.3          0.2       -1
3           4.6          3.1           1.5          0.2       -1
4           5.0          3.6           1.4          0.2       -1

In [8]:
data

    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2       -1
1            4.9          3.0           1.4          0.2       -1
2            4.7          3.2           1.3          0.2       -1
3            4.6          3.1           1.5          0.2       -1
4            5.0          3.6           1.4          0.2       -1
..           ...          ...           ...          ...      ...
95           5.7          3.0           4.2          1.2        1
96           5.7          2.9           4.2          1.3        1
97           6.2          2.9           4.3          1.3        1
98           5.1          2.5           3.0          1.1        1
99           5.7          2.8           4.1          1.3        1

[100 rows x 5 columns]

## 2) Membagi data menjadi data latih dan data uji

Metode pembelajaran mesin memerlukan dua jenis data :


1.   Data latih : Digunakan untuk proses training metode klasifikasi
2.   Data uji : Digunakan untuk proses evaluasi metode klasifikasi

Data uji dan data latih perlu dibuat terpisah (mutualy exclusive) agar hasil evaluasi lebih akurat.

Data uji dan data latih dapat dibuat dengan cara membagi dataset dengan rasio tertentu, misalnya 80% data latih dan 20% data uji.

Library Scikit-learn memiliki fungsi [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) pada modul **model_selection** untuk membagi dataset menjadi data latih dan data uji. Bagilah dataset anda menjadi dua, yaitu **data_latih** dan **data_uji**.

In [9]:
from sklearn.model_selection import train_test_split 
data_latih,data_uji = train_test_split(data,test_size=0.2)

Tampilkan banyaknya data pada **data_latih** dan **data_uji**. Seharusnya **data_latih** terdiri dari 80 data, dan **data_uji** terdiri dari 20 data

In [10]:
print(data_uji.shape[0])
print(data_latih.shape[0])

20
80

Pisahkan label/kategori dari data latih dan data uji menjadi variabel tersendiri. Beri nama variabelnya  **label_latih** dan **label_uji**

In [11]:
label_latih = data_latih.pop('species') 
label_uji = data_uji.pop('species')

In [12]:
print(label_latih)
print(label_uji)

71    1
97    1
0    -1
51    1
65    1
     ..
42   -1
36   -1
6    -1
90    1
48   -1
Name: species, Length: 80, dtype: int64
41   -1
26   -1
53    1
57    1
47   -1
44   -1
78    1
77    1
93    1
72    1
1    -1
33   -1
94    1
24   -1
64    1
10   -1
43   -1
81    1
58    1
25   -1
Name: species, dtype: int64

## 3) Proses Training

Tujuan dari algoritma SVM adalah meminimalkan nilai *cost function*. Penghitungan nilai minimal dapat dapat dilakukan dengan menghitung nilai gradien dari *cost function* terlebih dahulu. Fungsi di bawah ini berguna untuk menghitung nilai gradien cost function

In [13]:
def hitung_cost_gradient(W,X,Y,regularization): 
  jarak = 1 - (Y* np.dot(X,W)) 
  dw = np.zeros(len(W)) 
  if max(0,jarak)==0:
    di=W 
  else: 
    di = W - (regularization * Y*X) 
  dw += di 
  return dw

Terdapat beberapa cara untuk meminimalkan nilai *cost function*, salah satunya menggunakan Stochastic Gradient Descent (SGD) untuk melakukan minimasi. Minimasi *cost function* merupakan inti dari algoritma SVM. Fungsi di bawah ini merupakan implementasi algoritma SGD

In [14]:
from sklearn.utils import shuffle
def sgd(data_latih,label_latih,learning_rate = 0.000001,max_epoch=1000,regularization=10000):
  data_latih = data_latih.to_numpy()
  label_latih = label_latih.to_numpy()
  bobot = np.zeros(data_latih.shape[1])
  for epoch in range(1,max_epoch):
    X,Y =shuffle(data_latih,label_latih,random_state=101)
    for index,x in enumerate(X):
      delta=hitung_cost_gradient(bobot,x,Y[index],regularization)
      bobot = bobot - (learning_rate * delta)
  return bobot

Proses training dilakukan dengan memanggil fungsi **sgd** dengan parameter input berupa data latih dan label latih. Parameter learning rate dan max epoch menggunakan nilai *default* nya

In [15]:
W = sgd(data_latih,label_latih) 
print(W)

[-0.16981044 -0.64004739  0.99833052  0.4731381 ]

## 4) Proses *testing*
Proses testing dilakukan dengan menghitung nilai [*dot product*](https://en.wikipedia.org/wiki/Dot_product) antara bobot hasil training dengan data uji. Kelas data ditentukan berdasarkan tanda (positif atau negatif) dari hasil dot product tersebut. Fungsi berikut mengimplementasikan proses testing

In [16]:
def testing(W,data_uji):
  prediksi = np.array([])
  for i in range(data_uji.shape[0]):
    y_prediksi = np.sign(np.dot(W,data_uji.to_numpy()[i]))
    prediksi = np.append(prediksi,y_prediksi)
  return prediksi

Lakukan pengujian menggunakan seluruh data uji. Bandingkan hasilnya dengan nilai label sebenarnya untuk menghitung berapa banyak data uji yang berhasil diprediksi dengan benar.

In [17]:
y_prediksi = testing(W,data_uji) 
prediction = (sum(y_prediksi==label_uji))

print("Prediksi : ", prediction)
print("Jumlah Label", label_uji.shape[0])

Prediksi :  20
Jumlah Label 20

## TUGAS
Pada tugas kali ini Anda masih melakukan klasifikasi dataset iris, tetapi menggunakan kelas Iris-versicolor dan Iris-virginica. Apakah hasilnya lebih baik jika dibandingkan dengan Iris-setosa dan Iris-versicolor?

In [18]:
#Melakukan read lagi pada dataset agar datasetnya jadi terpisah dari yang praktikum
#dan yang Tugas
data_tugas = pd.read_csv('iris.csv')

In [19]:
data_tugas

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
#Iris-setosa di drop
data_tugas.drop(data_tugas[data_tugas['species']=='Iris-setosa'].index,inplace=True)

In [21]:
data_tugas

     sepal_length  sepal_width  petal_length  petal_width          species
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[100 rows x 5 columns]

In [22]:
data_tugas['species']=data_tugas['species'].map({'Iris-virginica':-1,'Iris-versicolor':1})

In [23]:
from sklearn.model_selection import train_test_split 
data_latih_tugas,data_uji_tugas = train_test_split(data_tugas,test_size=0.2)

In [24]:
label_latih_tugas = data_latih_tugas.pop('species') 
label_uji_tugas = data_uji_tugas.pop('species')

In [25]:
W_tugas = sgd(data_latih_tugas,label_latih_tugas) 
print(W_tugas)

[ 3.87923973  2.32205058 -4.32766978 -5.76500381]

In [26]:
y_prediksi_tugas = testing(W_tugas,data_uji_tugas) 
prediction_tugas = (sum(y_prediksi_tugas==label_uji_tugas))

print("Prediksi : ", prediction_tugas)
print("Jumlah Label", label_uji_tugas.shape[0])

Prediksi :  18
Jumlah Label 20



> Pada bagian ini, masih menggunakan max_epoch sebesar 1000. Maka dapat dilihat disini jumlah prediksi yang saya dapatkan adalah 18. Hasilnya tidak lebih baik karena hanya mampu mengenali **18** diantara 20 data uji. Namun setelah mencoba melakukan re-run berkali - kali dengan factory reset biasanya mendapatkan jumlah Prediksi 18 atau 19, tapi tidak pernah 20 atau 17.

Lakukan proses training ulang, tetapi menggunakan nilai max_epoch sebesar 5000. Anda dapat memberikan parameter max_epoch=5000 saat memanggil fungsi **sgd**. Apakah hasilnya lebih baik? Mengapa?

In [27]:
W_tugas_difEpoch = sgd(data_latih_tugas,label_latih_tugas,max_epoch=5000)
print(W_tugas_difEpoch)

[ 4.96019074  3.06927907 -5.98451976 -6.63477334]

In [28]:
y_prediksi_tugas = testing(W_tugas_difEpoch,data_uji_tugas) 
prediction_tugas = (sum(y_prediksi_tugas==label_uji_tugas))

print("Prediksi : ", prediction_tugas)
print("Jumlah Label", label_uji_tugas.shape[0])

Prediksi :  19
Jumlah Label 20



> Pada bagian ini, sekarang menggunakan max_epoch sebesar 5000. Maka dapat dilihat disini jumlah prediksi yang saya dapatkan adalah 19. Hasilnya lebih baik dari sebelumya karena mampu mengenali **19** diantara 20 data uji. Namun setelah mencoba melakukan re-run berkali - kali dengan factory reset biasanya mendapatkan jumlah Prediksi 18 atau 19 juga, tapi tidak pernah 20 atau 17.



> Jadi terkadang menggunakan max_epoch yang lebih besar dapat menghasilkan hasil yang lebih baik dan kadang tidak.




> Max_Epoch merupakan batas jumlah perulangan jadi jika angkanya semakin besar maka data tersebut akan makin banyak berlatihnya. Namun pada kasus ini mungkin karena datasetnya tidak terlalu banyak maka perbedaan max_epoch disini tidak terlalu berpengaruh walaupun dapat dikatakan mendapatkan hasil yang lebih baik juga.

Terakhir, lakukanlah seleksi fitur sederahana dengan mengambil hanya fitur sepal length dan sepal width saja. Apakah hasilnya lebih baik?

In [29]:
#Pada bagian ini mengambil fitur sepal_length dan sepal_width saja dan menset variablenya
data_latih_fitur = data_latih_tugas[['sepal_length','sepal_width']]
data_uji_fitur = data_uji_tugas[['sepal_length','sepal_width']]

In [37]:
data_latih_fitur.head()

     sepal_length  sepal_width
58            6.6          2.9
50            7.0          3.2
54            6.5          2.8
117           7.7          3.8
60            5.0          2.0

In [38]:
data_uji_fitur.head()

     sepal_length  sepal_width
129           7.2          3.0
85            6.0          3.4
96            5.7          2.9
141           6.9          3.1
77            6.7          3.0

In [40]:
print(data_latih_fitur.shape[0])
print(data_uji_fitur.shape[0])

80
20

In [42]:
W_fitur = sgd(data_latih_fitur,label_latih_tugas) 
print(W_fitur)

[-0.53298683  0.99928421]

In [43]:
y_prediksi_fitur = testing(W_fitur,data_uji_fitur) 
prediction_fitur = (sum(y_prediksi_fitur==label_uji_tugas))

print("Prediksi : ", prediction_fitur)
print("Jumlah Label", label_uji_tugas.shape[0])

Prediksi :  11
Jumlah Label 20



> Pada bagian ini, masih menggunakan max_epoch sebesar 1000. Maka dapat dilihat disini jumlah prediksi yang saya dapatkan adalah 11. Namun setelah mencoba melakukan re-run berkali - kali dengan factory reset biasanya mendapatkan jumlah Prediksi mulai dari 6 - 11, tapi tidak pernah di atas itu. Dapat disimpulkan bahwa menggunakan fitur ini kurang baik

In [44]:
W_fitur_difEpoch = sgd(data_latih_fitur,label_latih_tugas,max_epoch=5000) 
print(W_fitur_difEpoch)

[-0.53560278  1.00467031]

In [45]:
y_prediksi_fitur = testing(W_fitur_difEpoch,data_uji_fitur) 
prediction_fitur = (sum(y_prediksi_fitur==label_uji_tugas))

print("Prediksi : ", prediction_fitur)
print("Jumlah Label", label_uji_tugas.shape[0])

Prediksi :  11
Jumlah Label 20

> Pada bagian ini, menggunakan max_epoch sebesar 5000. Maka dapat dilihat disini jumlah prediksi yang saya dapatkan adalah 11 juga. Namun setelah mencoba melakukan re-run berkali - kali dengan factory reset biasanya mendapatkan jumlah Prediksi mulai dari 7 - 12, tapi tidak pernah di atas itu. Dapat disimpulkan bahwa menggunakan fitur ini kurang baik walaupun juga menggunakan max_epoch yang lebih besar